<!DOCTYPE html>
<html>
  <head>
    {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'main/css/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
        <meta charset="utf-8">
    <meta charset="utf-8">
    <title>Dojo Secrets</title>
  </head>
  <header>
    <h1>Dojo Secrets</h1>
    <nav>
      <ul>
        <li></li>
      </ul>
    </nav>
  </header>
  <body>
<h1>Dojo Secrets</h1>
  </body>
  <footer>
    <ul>
      <li><a href="#">Contact </a></li>
      <li><a href="#"></a>About</li>
      <li><a href="#"></a>Home</li>
    </ul>
  </footer>
</html>
