<!DOCTYPE html>
<html>
  <head>
      {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'main/css/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
      <meta charset="utf-8">
    <title>User Validations</title>
  </head>
  <header>
    <nav>
      <ul>
        <li></li>
      </ul>
    </nav>
  </header>
  <body>
    <div class="container">
      <div class="">
        <fieldset>
          <legend></legend>
            <form class="" action="/process" method="post">
              {% csrf_token %}
              <input type="text" name="" value="">
            </form>
        </fieldset>
      </div>


    </div>

  </body>
</html>
